# Google Earth Engine + Drive API
earthengine-api>=0.1.400
google-api-python-client>=2.100.0
google-auth>=2.23.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.1.0

# Pipeline geoespacial y estático
geopandas>=0.14
rasterio>=1.3
numpy>=1.24
Pillow>=10.0
PyYAML>=6.0
pandas>=2.0
shapely>=2.0
matplotlib>=3.7
laspy>=2.5
pyproj>=3.6
